
/*Shared CSS*/
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.btn{
    background-color:#30B868;
    color:#FFFFFF;
    border-radius: 4px;
    border:none;
    padding:12px 16px;
    font-size: 16px;
    font-weight:600;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover {
    background-color: #087935;
    color:white;
}

.section-header{
    text-align: center;
}
.section-header h1{
    color:#001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}
.section-header p{
    font-size: 16px;
    color:#627382;
    margin-bottom: 44px;
}

/* particular CSS*/

nav{
    max-width: 1140px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
}
.logo img{
    width:139px;
    height: 60px;
}
nav .menu{
    display: flex;
    list-style: none;
    gap:50px;
}
nav .menu li a{
    text-decoration: none;
    color:#000000;
    font-size: 16px;
}
nav .menu li a:hover{
    color:#30B868;
}

 .hero{
    height: 674px;
    background: url(../assets/hero-bg.png) ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;   
    align-items: center; 
    text-align: center;
    padding:70px 120px 134px 120px;
    color:#FFFFFF;
}

.hero-content{
    max-width: 750px;
}

.badge{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    color: #30B868;
    padding: 8px 12px;
    border-radius:10000px;
    font-size: 16px;
    margin-bottom: 16px;
    gap:6px;
    font-weight: 500;
}
.double-dot{
    width: 16px;
    height: 16px;
    background: #9ef9d3;
    border-radius:8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-dot{
    width: 12px;
    height: 12px;
    background: #6bde9b;
    border-radius:8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-dot{
    width: 6px;
    height: 6px;
    background: #52cb56;
    border-radius:8px;
}

.hero h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;
}

.hero h1 span{
    color: #30B868;
}

.hero p{
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 32px;
    line-height: 28px;
}

.hero-buttons{
    gap: 16px;
    display: flex;
    justify-content: center;
}
.btn.primary{
    align-items: center;
    display: flex;
    gap:10px;
}
.btn.secondary{
    align-items: center;
    gap: 10px;
}

/* Notes section*/
#notes{
    margin:120px;

}
#notes .notes-card{
    display: flex;
    max-width: 1360px;
    gap:24px;
}
#notes .card{
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding:24px;
}

#notes .card img{
    background-color: #F95555;
    width:40px;
    border-radius: 50%;
    padding: 10px;
}
#notes .card h2{
    font-size: 24px;
    color:#001931;
    font-weight: 600;
    margin-bottom: 12px;

}
#notes .card p{
    font-size: 16px;
    color:#627382;
    line-height: 20px;

}
/*solution section*/
#solution {
    padding: 120px;
    display: flex;
    gap: 60px;
}



#solution .sol-img {
    height: 60px;
    border-radius: 12px;
}

.sol-details .subtitle{
    font-size: 16px;
    color:#30B868;
    margin-bottom: 16px;
}

.sol-details h1 {
    font-size: 48px;
    font-weight: bold;
    color:#001931;
    margin-bottom: 16px;
}

.sol-details .sol-description{
    font-size: 16px;
    color: #627382;
    line-height: 23px;
    margin-bottom: 40px;
}

.sol-list li {
    display: flex;
    list-style: none;
    margin-bottom: 12px;
}
.sol-list li p {
    margin-left: 5px;
    font-size: 16px;
    color:#001931;
    line-height:1.2;
    font-weight: 500;
}
/*challenge section*/

#challenge{
    margin: 120px;
    text-align: center;
    background-color: #F7F6F2;
    padding: 80px 40px;
    border-radius: 12px;
}
#challenge .section-header h1 {
    font-size: 40px;
}

#challenge .section-header p {
    margin-bottom: 24px;
}
.challenge-btn {
    align-items: center; 
    display: flex;
    flex-direction: column;
}

.challenge-btn .c-btn{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 12px 16px;
    background-color:#30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 16px;
}
.challenge-btn .c-btn:hover{
    background-color:  #a2914b;
    /* color:#000000; */
}
.challenge-btn .btn-text {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}
.challenge-btn .btn-arrow {
    text-align: center;
}
.btn-arrow img {
    width: 20px;
    height: 20px;
}


.list {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    color:#627382;
    font-size: 16px;
}

.list li {
    margin-left: 12px;
    padding-left:12px;
}
/*footer*/
footer {
    background-color:#001931;
    padding: 120px 120px 30px 120px;
    margin-top: 120px;
}
.footer-container {
    max-width: 1140px;
    margin: 0 auto;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.footer-logo img{
    width: 139px;
    height: 60px;
}

 .social-section h4{
    font-size: 20px;
    font-weight: 500;
    color:#FFFFFF;
    line-height: 28px;
    margin-bottom: 12px;
}
.social-icons {
    display: flex;
    gap: 16px;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width:12px;
    height: 12px;
    background-color:#FFFFFF;
    border-radius:50%;
    color:#000000;
    text-decoration: none;
    padding: 13px;
}
.social-icon:hover {
    background-color:rgb(56, 150, 56);
    color: white;
}

.footer-bottom {
    border-top: 1px solid #d3d2d2;
    text-align: center;
}

.copyright {
    padding-top: 30px;
    font-size: 16px;
    color: #FAFAFA;
    align-items: center;
}


